<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div align="center">
        <form method="post" action="{{ url_for('audience_login') }}">
            <div>
                <label for="username">Username: </label>
                <input name="username" id="username" type="text" />
            </div>
            <div>
                <label for="password">Password: </label>
                <input name="password" id="password" type="text" />
            </div>
            <div>
                <input type="submit" value="Login" />
                <a href="{{ url_for('audience_register') }}">Sign out</a>
            </div>
        </form>
    </div>
</body>
</html>